<!-- Validation failure messages -->
<% if @food_order.errors.any? %>
  <% @food_order.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Food Order</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_food_order" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for food_id -->
      <div class="form-group">
        <label for="food_id" class="control-label">
          Food
        </label>

        <input type="text" id="food_id" name="food_id" placeholder="Food" class="form-control" value="<%= @food_order.food_id %>">
      </div>

      <!-- Label and input for bar_id -->
      <div class="form-group">
        <label for="bar_id" class="control-label">
          Bar
        </label>

        <input type="text" id="bar_id" name="bar_id" placeholder="Bar" class="form-control" value="<%= @food_order.bar_id %>">
      </div>

      <button class="btn btn-success">
        Create Food Order
      </button>
      or
      <a href="/food_orders">Cancel</a>
    </form>
  </div>
</div>
