<!-- Validation failure messages -->
<% if @drink_order.errors.any? %>
  <% @drink_order.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Drink Order</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_drink_order" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for drink_id -->
      <div class="form-group">
        <label for="drink_id" class="control-label">
          Drink
        </label>

        <input type="text" id="drink_id" name="drink_id" placeholder="Drink" class="form-control" value="<%= @drink_order.drink_id %>">
      </div>

      <!-- Label and input for bar_id -->
      <div class="form-group">
        <label for="bar_id" class="control-label">
          Bar
        </label>

        <input type="text" id="bar_id" name="bar_id" placeholder="Bar" class="form-control" value="<%= @drink_order.bar_id %>">
      </div>

      <button class="btn btn-success">
        Create Drink Order
      </button>
      or
      <a href="/drink_orders">Cancel</a>
    </form>
  </div>
</div>
